name: Run GitHub Inviter

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-in-container:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Pull docker image
        run: docker pull wlcamargo/github_inviter

      - name: Run main.py inside container
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            wlcamargo/github_inviter \
            python3 main.py
